@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;

    --primary: #4D774E;
    --secondary: #81a17c;
    --light: #F9F9F9;
    --dark: #342E37;
    --grey: #f6eeeeaa;
    --red: #DB504A;
}

.main-content {
    margin-left: 100px;
    padding: 20px;
    text-align: center; 
    transition: all 0.4s ease;
}


/* SIDEBAR */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: var(--light);
    font-family: var(--lato);
    transition: .3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
    z-index: 1;
}

#sidebar.hide {
    width: 60px;
}

#sidebar .panel {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

#sidebar .panel .logo {
    min-width: 60px; 
    max-width: 60px; 
    display: flex;
    justify-content: center;
}

#sidebar .panel .logo img {
    width: 110px; 
    height: auto; 
    margin-left: 7px;
}

#sidebar .panel .text {
    margin-left: 15px;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

#sidebar .side-menu li {
    position: relative;
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
    transition: transform 0.5s ease;
    z-index: 1000;
}

#sidebar .side-menu li.active {
    margin-top: 20px; 
}

#sidebar .side-menu li:hover {
    transform: translateX(10px);
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: transform 0.5s ease;
    }

#sidebar .side-menu li a .arrow {
    margin-left: auto; 
    margin-right: 10px;
    transition: transform 0.3s ease; 
}

#sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width .3s ease;
}

#sidebar .side-menu li a.logout {
    color: var(--red);
}

#sidebar .side-menu.top li a:hover {
    color: var(--secondary);
}
#sidebar .side-menu li a .bx , .bi , .fa-sign-out{
    min-width: calc(60px  - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}

.side-menu{
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;    
    width: 200px;
    background: var(--light);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
    /* z-index: 5000; */
    /* position: relative; */
}

.dropdown.active {
    max-height: 300px; 
    opacity: 1;
}
.custom-style {
margin-bottom: 150px;
}

.dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.arrow.rotate {
    transform: rotate(90deg); 
}


/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 280px);
    left: 280px;
    transition: .3s ease;
}

#sidebar.hide ~ #content {
    width: calc(100% - 60px);
    left: 60px;
}

/* NAVBAR */
#content nav {
    height: 56px;
    background: var(--light);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: var(--lato);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

#content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
}

#content nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}
#content nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
}

#content nav form .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

/* MAIN */
#content main {
    width: 100%;
    padding: 36px 24px;
    font-family: var(--lato);
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}
#content main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}
#content main .head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}





