:root{
    --primary-color: #4D774E; 
    --secondary-color: #81a17c;
    --tertiary-color: #325434;
    --fourth-color:#e2e2e2;
    --hover-color: #9dc1a4;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Poppins, sans-serif;    
    background-color: white;
}
header{
    background-color: var(--primary-color);
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo{

}
header .container .logo img{
    width: 60px;
}
header .container .nav{
    display: flex;
    justify-content: space-between;
    width: 380px;
    align-items: center;
}
header .container > i{
    display: none ;
    font-size: 25px;
    color: var(--fourth-color);
}
header .container .nav a{
    text-decoration: none;
    color: var(--fourth-color);
}
header .container .nav a:hover{
    color: var(--hover-color);
}


header .container .nav form input[type="search"]{
    height: 30px;
    width: 200px;
    padding: 10px;
    border: none;
}
header .container .nav form input[type="search"]:focus{
    outline: var(--hover-color) solid;
}
header .container .nav form button{
    border: none;
    background-color: transparent;
}

header .container .nav form button i{
    font-size: 25px;
    color: var(--fourth-color);
    margin-left: 10px;
}
@media screen and (max-width:550px) {
    header .container > i{
        display:block;
        position: relative;
    }
    header .container > i:hover + .nav{
        display: flex;
        
    }
    header .container .nav{
        flex-direction: column;
        position: absolute;
        right: 10px;
        top:55px;
        height: 150px;
        justify-content:space-evenly ;
        align-items: start;
        background-color:var(--secondary-color) ;
        display: none;
    }
    header .container .nav:hover{
        display: flex;
    }
    header .container .nav::after{
        content: " ";
        width: 0px;
        height: 10px;
        left: 328px;
        top: -45px;
        border-style: solid;
        border-width: 20px;
        border-color: transparent transparent var(--secondary-color) transparent ;
        position: absolute;
    }
    header .container .nav a{
        border-bottom: solid 1px var(--hover-color);
        padding: 0 0 20px 20px;
        width: 100%;
    }
    header .container .nav form{
        padding: 0 0 0px 20px;
    }
}

.parties{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.parties h2{
    text-align: center;
    margin: 40px 0 80px;
    font-size: 30px;
    color: var(--tertiary-color);
}
.cards {

    gap: 20px; /* Space between cards */
    padding: 20px; /* Padding around the container */
    height: auto;
    width: 1400px;
    margin: auto;
}

.card {
    border-radius: 8px;
    width: 620px;
    height: auto;
    display: inline-block;
    margin-bottom:  30px;
    transition: transform 0.3s ease-in-out;
}
.card:hover{
   transform: scale(1.09);
}
.card img{
    width: 100%;

}
.image_holder{
    position: relative;
    width: 550px;
    margin: auto;
}
.ticket_content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 70px;
    padding-top: 30px;
    padding-bottom: 35px;
    color: white;
    text-transform: capitalize;
}
.name{
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
}
.count_down{
    font-size: 14px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.header{
    font-size: 18px;
    color: rgb(255, 242, 0);
    font-weight: bold;
    letter-spacing: 1px;
}
.performer_tag{
    display: block;
    overflow: hidden;
    height: 30px;
    margin-top: 10px;
}
.performer{
    float: left;
    font-size: 20px;
}
.tag{
    float: right;
    text-transform: lowercase;
    font-size: 15px;
}
.location{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.price{
    margin-top : 10px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}
.details{
    text-align: center;
}
.details >a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}