:root{
    --primary-color: #4D774E; 
    --secondary-color: #81a17c;
    --tertiary-color: #325434;
    --fourth-color:#e2e2e2;
    --hover-color: #9dc1a4;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    background: linear-gradient(to right, #e2e2e2, #9dc1a4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: Poppins, sans-serif;    
}
img{
    position: absolute;
    top: 0;
    left: 0%;
    width:8%;
}

.container {
    background-color: var(--fourth-color);
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 100%;
    border-radius: 50px;
}

.form-box {
    text-align: center;
}

h2 {
    margin-bottom: 25px;
    color: var(--tertiary-color);
    font-weight: bold;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    color: var(--primary-color);
    /* font-size: larger; */
    font-weight: bold;
    text-align: left;
}

input[type="text"],
input[type="datetime-local"],
input[type="number"]
{
    width: 100%;
    padding: 3px;
    margin-bottom: 25px;
    color: var(--tertiary-color);
    /* font-size: larger; */
    border-style: solid ;
    border-color: transparent transparent  var(--tertiary-color) transparent;
    background-color: transparent;
}
input[type="text"]:focus,
input[type="datetime-local"]:focus , 
input[type="number"]:focus 
{
    outline: none; 
    border-bottom: 2px solid var(--hover-color);
}
input[type="text"]::placeholder,
input[type="datetime-local"] ::placeholder,
input[type="number"] ::placeholder
{
    color: var(--secondary-color);
}

button {
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--fourth-color);
    padding: 15px;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: larger;
}

button:hover {
    text-align: center;
    background-color: var(--hover-color);
}

p {
    color: var(--tertiary-color);
    margin-bottom: 20px;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
#createparty{
    overflow: hidden;
}
.left-inputs{
    float: left;
    width: 43%;
}
.right-inputs{
    float: right;
    width: 45%;
    margin-top: -3px;
}
.right-inputs , .left-inputs{
}