:root {
    --primary-color: #4D774E;
    --secondary-color: #81a17c;
    --hover-color: #9dc1a4;
    --accent-color: #f1b24a;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F4F2EF;
}

header {
    position: relative; 
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px;
    background-color: var(--primary-color); 
    color: white;
}

h2 {
    font-size: 24px; 
    margin: 0;
}

#backButton {
    position: absolute;
    left: 30px; 
}

#backButton a {
    text-decoration: none;
    color: white; 
    font-size: 16px;
    cursor: pointer;
}

#backButton a:hover {
    color: var(--accent-color);
}



.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.seats-image {
    display: block;
    width: 700px;
}

.available-tickets {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
}

.match-details {
    display: block;
    background-color: white;
    padding: 20px;
    margin: 20px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.match-details h2 {
    text-align: center;
}

.ticket-selection {
    background-color: white;
    padding: 20px;
    margin: 20px 10px;
    text-align: center;
}

#ticket-quantity {
    width: 50px;
    margin: 0 10px;
}

.total-price {
    font-weight: bold;
    margin-top: 10px;
}

button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f1b14ada;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal-header h2 {
    color: black;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
}

.modal h2 {
    color: var(--primary-color);
    margin: 0;
}

#total-price {
    margin: 20px 0; 
    font-size: 1.1em; 
}

.transactions {
    color: #7F7F7F;
    font-size: 15px;
    text-align: left;
    margin-left: 53px;
    margin-top: 0; 
}

#payment-icon{
    margin-top: 20px;
}

#message, #confirmation-message {
    margin-top: 10px;
    text-align: center;
}

.modal button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#cancel-btn {
    background-color: #cb2c27; 
    color: white;
}

#cancel-btn:hover {
    background-color: rgb(228, 13, 13); 
}

#successMessage {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; 
    padding: 20px 40px;
    border: 2px solid var(--primary-color); 
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: var(--primary-color); 
    z-index: 1000; 
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
